//variables

@white: #ffffff;
@blue: #0098f5;
@gray: #333a49;
@gray-2: #627485;
@dark-blue: #3c4f5e;

//reset

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: transparent;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: none;
}

input {
  padding: 0;
  margin: 0;
  border-width: 0;
  outline: 0;
}

button {
  outline: 0;
  border-width: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

//main less

body {
  background-size: cover;
  background-position: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  color: @white;
}

table{
  border-spacing: 0;
}
tr,
td {
 padding: 0;
}

h3 {
  font-size: 14px;
  &.league-name {
    font-size: 20px;
    font-weight: 300;
    margin-top: 5px;
    position: relative;
    padding-left: 45px;
  }
  &.wraper {
    width: 400px;
  }
}

.header {
  height: 100px;
  position: relative;
  .close-btn {
    background: url(../images/close-btn.png);
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 17px;
    margin: auto;
  }
  .teams {
    margin-left: 65px;
    display: inline-block;
    margin-top: 23px;
    .name {
      font-size: 23px;
      font-weight: bold;
      display: inline-block;
    }
  }
}

.flag {
  position: absolute;
  left: 0;
  width: 35px;
}

.scoreboard {
  background-size: cover;
  background-position: center;
  display: block;
  h2 {
    font-weight: 400;
    font-size: 35px;
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;
  }
  .score {
    width: 50%;
    float: left;
    text-align: center;
    span {
      padding: 10px 25px;
      font-size: 45px;
      font-weight: 400;
      border-radius: 15%;
    }
    .name {
      font-size: 14px;
      font-weight: 300;
      padding: 40px 0;
      text-transform: uppercase;
      display: block;
      width: 50%;
      margin: 0 auto;
    }
  }
}

.earned-fantasy-points {
  background: @gray;
  height: 40px;
  font-weight: 300;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;

}

.your-prediction {
  height: 60px;
  line-height: 60px;
  text-align: center;
  span {
    font-size: 24px;
    font-weight: 400;
    padding: 3px 15px;
    border: 2px solid @white;
    border-radius: 30%;
  }
  h3 {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0 10px;
  }
}

.events-table {
  width: 55%;
  margin: 0 auto;
  @media (max-width: 767px) {
    width: 85%;
  }
  .event {
    font-family: 'Montserrat', sans-serif;
    padding: 35px 0;
    position: relative;
    .time {
      width: 80px;
      display: block;
      position: absolute;
      left: 0;
    }
    .event-description {
      text-align: left;
      padding-left: 100px;
    }
    .event-type {
      margin: 5px 0;
      font-size: 20px;
      color: @dark-blue;
      font-family: 'Titillium Web', sans-serif;
    }
    span {
      font-size: 14px;
      font-family: 'Montserrat', sans-serif;
      color: @gray-2;
      display: block;
      &.line {
        height: 3px;
        display: block;
        margin: 10px 0 5px 0;
      }
      &.hour {
        font-weight: 300;
        display: block;
        text-align: right;
      }
      &.player-name {
        font-weight: 600;
      }
      &.assistant-name {
        font-weight: 300;
      }
    }
    .minute {
      font-family: 'Titillium Web', sans-serif;
      font-size: 20px;
      padding: 3px 6px;
      color: @dark-blue;
      border: 2px solid @dark-blue;
      border-radius: 30%;
      position: relative;
      margin-left: 44%;

    }
    .minute:before {
      content: '';
      width: 20px;
      height: 20px;
      position: absolute;
      left: -26px;
      top: 4px;
      display: block;
    }
  }
  .align-right {
    .time {
      left: auto;
      right: 0;
    }
    .minute {
      margin-left: 0;
      margin-right: 44%;
    }
    .minute:before {
      right: -26px;
      left: auto;
    }
    span {
      &.hour {
        text-align: left;
      }
    }
    .event-description {
      margin-left: auto;
      padding-left: 0;
      padding-right: 100px;
      text-align: right;

    }
  }
  .goal {
    .minute:before {
      background: url(../images/goal.png);
    }
  }
  .yellow-cart {
    .minute:before {
      background: url(../images/y-cart.png);
    }
  }
  .missed-penalty {
    .minute:before {
      background: url(../images/no-goal.png);
      height: 24px;
    }

  }
  .red-cart {
    .minute:before {
      background: url(../images/r-cart.png);
    }
  }
  .substitution {
    .minute:before {
      background: url(../images/sub.png);
      height: 24px;
    }
    .player-name,
    .assistant-name {
      position: relative;
      padding-left: 25px;
    }
    .player-name:before,
    .assistant-name:before {
      content: '';
      width: 20px;
      height: 13px;
      position: absolute;
      top: 0;
      left: 0
    }
    .player-name:before {
      background: url(../images/g-arrow.png);
    }
    .assistant-name:before {
      background: url(../images/r-arrow.png);
    }
  }
}

.status-color {
  background: @blue;
}
.border {
  width: 3px;
  height: 100%;
}

