@font-face {
  font-family: 'TitilliumWeb-Regular';
  src: url('TitilliumWeb-Regular.eot');
  src: url('TitilliumWeb-Regular.woff2') format('woff2'),
       url('TitilliumWeb-Regular.woff') format('woff'),
       url('TitilliumWeb-Regular.ttf') format('truetype'),
       url('TitilliumWeb-Regular.svg#TitilliumWeb-Regular') format('svg'),
       url('TitilliumWeb-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

